[submodule "corpora/distant_listening_corpus"]
	path = corpora/distant_listening_corpus
	url = git@github.com:DCMLab/distant_listening_corpus.git
[submodule "corpora/AugmentedNet"]
	path = corpora/AugmentedNet
	url = git@github.com:johentsch/AugmentedNet.git
[submodule "dlfm_paper"]
	path = dlfm_paper
	url = https://git@git.overleaf.com/681e097b74c230132289412a
